@font-face {
    font-family: 'customFont1';
    src: 
    url('../fonts/otf/TheCircous.otf')  format('opentype'),
    url('../fonts/ttf/TheCircous.ttf')  format('truetype');
}

@font-face {
    font-family: 'cutsomFont2';
    src: 
    url('../fonts/otf/TheCircousStriped.otf')  format('opentype'),
    url('../fonts/ttf/TheCircousStriped.ttf')  format('truetype');
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

button, h7 {
    font-family: 'customFont1' , sans-serif !important;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4{
    font-weight: 600 !important;
}
a,
a:hover {
    text-decoration: none !important;
}

.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Header */
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0px 0;
}

@media (min-width: 768px) {
    header {
        padding: 30px 0;
    }
}

header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    font-size: 2rem;
}

header .navbar-brand.absolute {
    position: absolute;
}

@media (max-width: 991.98px) {
    header .navbar-brand.absolute {
        position: relative;
    }
}

header .navbar-brand span {
    color: #fff;
}

@media (min-width: 768px) {
    header .navbar-brand span {
        color: #ced4da;
    }
}

header .navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

@media (min-width: 768px) {
    header .navbar {
        padding-top: 0;
        padding-bottom: 0;
        background: none !important;
        position: relative;
    }
}

header .navbar .nav-link {
    padding: 1.7rem 1rem;
    outline: none !important;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8) !important;
}

@media (max-width: 1199.98px) {
    header .navbar .nav-link {
        padding: .5rem 0rem;
    }
}

header .navbar .nav-link.active {
    color: #fff !important;
}

header .navbar .dropdown-menu {
    font-size: 14px;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    min-width: 13em;
    margin-top: -10px;
}

header .navbar .dropdown-menu:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
}

@media (max-width: 991.98px) {
    header .navbar .dropdown-menu:before {
        display: none;
    }
}

header .navbar .dropdown-menu .dropdown-item:hover {
    background: #007bff;
    color: #fff;
}

header .navbar .dropdown-menu .dropdown-item.active {
    background: #007bff;
    color: #fff;
}

header .navbar .dropdown-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
}

header .navbar .cta-btn a {
    background: #007bff;
    color: #fff !important;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 15px 20px !important;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

header .navbar .cta-btn a:hover {
    background: #fff;
    color: #007bff !important;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.impressium-text {
    bottom: 6vw;
}

@media (max-width: 576px) {
    .wei-btn{
        font-size: 10px !important;
    }
    .navbar-brand img {
        width: 540px;
    }
}


@media (max-width: 768px) {
    .impressium-text {
        bottom: 13vw;
    }
}

@media (max-width: 990px) {
    .impressium-text {
        bottom: 11vw;
    }
}

@media (max-width: 1200px) {
    .impressium-text {
        bottom: 9vw;
    }
}